h2 {
    color: black;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
li {
    display: inline;
    font-size: 100%;
}

p {
    color: black;
    font-family: monospace;
}
#img2, img{
    width: 49%;

}

img {
    display: block;
    margin-right: 1%;
    float:left;
    margin-bottom: .5%;
}

.centerText {
    text-underline-position: alphabetic;
    text-align: left;
    font-weight: bold;
    color: Black;
    font-size: 20px;
}
#img1 {
    display: block;
    width: 2%;
    margin-bottom: .5%;
}

#paragraph p{
    color: dodgerblue;
    font-size: 30px;
}

#heading {
    background-color: darkgreen;
}

footer{
    background-color: darkslategrey;
}